.table-meta {
  margin: 30px auto;
}
.pattern-row {
  margin-bottom: 120px;
}
.pattern-preview {
  margin-top: 30px;
  padding: 40px;
  border: 10px solid #ebebeb;
}
.bg-gray {
  background-color: #eee;
}
.media-left .img-responsive {
  max-width: none;
}
.card {
  width: 350px;
}
.image-caption {
  position: relative;
}
.image-caption .caption {
  position: absolute;
  font-size: 11px;
  background: #000;
  color: #fff;
  padding: 2px 7px;
  bottom: 0;
  opacity: .7;
}
