{#
/**
 * @file
 * All demo.
 *
 * Example:
 *
   {% include '@bi-bcl/all-demo.html.twig' %}
 */
#}
<div class="container">
  {% include '@bi-bcl/accordion/accordion-demo.html.twig' %}
  {% include '@bi-bcl/alert/alert-demo.html.twig' %}
  {% include '@bi-bcl/avatar/avatar-demo.html.twig' %}
  {% include '@bi-bcl/badge/badge-demo.html.twig' %}
  {% include '@bi-bcl/button/button-demo.html.twig' %}
  {% include '@bi-bcl/callout/callout-demo.html.twig' %}
  {% include '@bi-bcl/card/card-demo.html.twig' %}
  {% include '@bi-bcl/card/card-big-demo.html.twig' %}
  {% include '@bi-bcl/chip/chip-demo.html.twig' %}
  {% include '@bi-bcl/dropdown/dropdown-demo.html.twig' %}
  {% include '@bi-bcl/gallery/gallery-demo.html.twig' %}
  {% include '@bi-bcl/hero/hero-demo.html.twig' %}
  {% include '@bi-bcl/list/list-demo.html.twig' %}
  {% include '@bi-bcl/modal/modal-demo.html.twig' %}
  {% include '@bi-bcl/overlay/overlay-demo.html.twig' %}
  {% include '@bi-bcl/timeline/timeline-demo.html.twig' %}
  {% include '@bi-bcl/timeline/point-list-demo.html.twig' %}
  {% include '@bi-bcl/icon/icons-list.html.twig' %}
</div>
