{#
/**
 * @file
 * Demo container.
 *
 * Example:
 *
    {% embed '@bi-bcl/demo-container.html.twig' with {
      title: 'Title'|t,
    } %}
      {% block content %}
        Your content
      {% endblock %}
    {% endembed %}
 */
#}
{% apply spaceless %}
  {# Set defaults #}
  {% set _title = title|default('') %}
  {% set _demo_classes = demo_classes|default('') %}
  {% set _demo_attributes = demo_attributes|default('') %}

  {# Set options #}
  {% set _classes = [
    'lg-border',
    'lg-shadow',
    'mb-5',
    'p-lg-4',
    'overflow-auto'
  ] %}

  {% if _demo_classes is not empty %}
    {% set _classes = _classes|merge(demo_classes) %}
  {% endif %}

  {% if _demo_attributes is empty %}
    {% set demo_attributes = create_attribute() %}
  {% endif %}
  {% set demo_attributes = demo_attributes.addClass(_classes) %}

  {# Component #}
  {% if title is not empty %}
    <h3 class="mt-4 fw-semibold">{{ _title }}</h3>
  {% endif %}

  <div{{ demo_attributes }}>
    {% block content %}
      Your content
    {% endblock %}
  </div>
{% endapply %}
