{
  "globals": {
    "bootstrap": "readonly"
  },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "always",
        "jsx": "never"
      }
    ],
    "import/no-unresolved": [
      "off"
    ],
    "no-cond-assign": ["error", "except-parens"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
