# ./vendor/bin/phpstan analyse --configuration=web/themes/custom/bootstrap_italia/phpstan.neon web/themes/custom/bootstrap_italia

parameters:
  level: 7

  excludePaths:
    - */bower_components/*
    - */node_modules/*
