{#
/**
 * @file
 * Template for Card component.
 * Docs: https://italia.github.io/bootstrap-italia/docs/componenti/card/
 * Latest revision: 1.4.1
 *
 * Available config:
 * - title: string
 * - text: string
 * - readmore_link: URL
 */
#}
<!--start card con ombreggiatura-->
<div class="card-wrapper card-space">
  <div class="card card-bg">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-text">{{ text }}</p>
      <a class="read-more" href="{{ readmore_link }}">
        <span class="text">{{ 'Read more'|t }}</span>
        {% include '@bootstrap_italia_components/icon/icon.twig' with { name: 'it-arrow-right' } %}
      </a>
    </div>
  </div>
</div>
<!--end card-->
