{#
/**
 * @file
 * Template for Card component.
 * Docs: https://italia.github.io/bootstrap-italia/docs/componenti/card/
 * Latest revision: 1.4.1
 *
 * Available config:
 * - title: string
 * - text: string
 */
#}
<!--start card-->
<div class="card-wrapper">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-text">{{ text }}</p>
    </div>
  </div>
</div>
<!--end card-->
