{#
/**
 * @file
 * Template for Card component.
 * Docs: https://italia.github.io/bootstrap-italia/docs/componenti/card/
 * Latest revision: 1.4.1
 *
 * Available config:
 * - card_wrapper_content: string
 * - card_type: simple, simple_article, with_icon, with_shadow, teaser, teser_plus, with_img
 * - card_wrapper_extra_classes: string
 */
#}

{% set wrapper_attribute = create_attribute() %}
{% set wrapper_classes = [
  'card-wrapper',
  (card_type == 'with_shadow') ? 'card-space',
  (card_type == 'teaser' or card_type == 'teaser_plus') ? 'card-teaser-wrapper',
  (card_wrapper_extra_classes) ? card_wrapper_extra_classes
] %}
<div {{ wrapper_attribute.addClass(wrapper_classes) }}>
  {{ card_wrapper_content }}
</div>
