{#
/**
 * @file
 * Template for slide component.
 * Docs: https://italia.github.io/bootstrap-italia/docs/componenti/carousel/
 * Latest revision: v2.1.1
 *
 * Parameters:
 * - content (string|drupal_field) (default: 'Slide content')
 * - slide_container_type (string) (default: 'li')
 *   - options ["li", "div"]
 * - slide_lined (boolean) (default: false)
 * - slide_image_wrapper (boolean) (default: false)
 * - slide_classes (array) (default: '')
 * - slide_attributes (obj attribute) (default: '')
 *
 * Examples:
   {% include '@bi-bcl/carousel/carousel-slide.html.twig' with {
      content: slide,
      slide_lined: true
   } %}
 *
 */
#}
{% apply spaceless %}
  {# Set defaults #}
  {% set _content = content|default('Slide content'|t) %}
  {% set _slide_container_type = slide_container_type|default('li') %}
  {% set _slide_lined = slide_lined ?? false %}
  {% set _slide_image_wrapper = slide_image_wrapper ?? false %}
  {% set _slide_classes = slide_classes|default('') %}
  {% set _slide_attributes = slide_attributes|default('') %}

  {# Set options #}
    {% set _classes = [
      'splide__slide',
      _slide_lined ? 'lined_slide',
    ] %}

  {% if _slide_classes is not empty %}
    {% set _classes = _classes|merge(slide_classes) %}
  {% endif %}

  {% if _slide_attributes is empty %}
    {% set slide_attributes = create_attribute() %}
  {% endif %}
  {% set slide_attributes = slide_attributes
    .addClass(_classes)
  %}

  {# Component #}
  <{{ _slide_container_type }} {{ slide_attributes }}>
    <div class="it-single-slide-wrapper">

      {% block slideContent %}
        {% if _slide_image_wrapper %}
          <div class="card-wrapper">
            <div class="card card-img no-after">
              <div class="img-responsive-wrapper">
                <div class="img-responsive">
                  <div class="img-wrapper">
        {% endif %}

        {{ _content }}

        {% if _slide_image_wrapper %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endblock %}

    </div>
  </{{ _slide_container_type }}>

{% endapply %}
