/**
 * Custom bootstrap-italia variables
 * Use as reference:
 *   - node_modules/bootstrap/scss/_variables.scss
 *   - node_modules/bootstrap/scss/maps
 *   - node_modules/bootstrap-italia/src/scss/_variables.scss
 * Example:
 *
 *  $spacers: map-merge($spacers, (
 *    6: $spacer * 6,
 *  ));
 *
 * This file is automatically imported into '_bootstrap-italia.scss'.
 */
