/**
 * Custom bootstrap-italia palette
 * For colors see: node_modules/bootstrap-italia/src/scss/utilities/colors_vars.scss
 *
 * This file is automatically imported into 'theme.scss'.
 */

/*
 RED EXAMPLE PRIMARY COLORS DEFINITION
 Tip: use https://rgb.to/ for convert color in HSB
 https://it.wikipedia.org/wiki/Hue_Saturation_Brightness
*/
// $primary-h: 0;    //<---- uncomment
// $primary-s: 80;   //<---- uncomment
// $primary-b: 100;  //<---- uncomment


/*
 GREEN EXAMPLE PRIMARY COLORS DEFINITION
 Tip: use https://rgb.to/ for convert color in HSB
 https://it.wikipedia.org/wiki/Hue_Saturation_Brightness
*/
// $primary-h: 160;    //<---- uncomment
// $primary-s: 100;   //<---- uncomment
// $primary-b: 48;  //<---- uncomment
