{% apply spaceless %}
  {% set card_body_classes = [
    content_padding == 'xs' ? 'px-1',
    content_padding == 'xs' ? 'px-md-2',

    content_padding == 'sm' ? 'px-2',
    content_padding == 'sm' ? 'px-md-3',

    content_padding == 'md' ? 'px-3',
    content_padding == 'md' ? 'px-md-4',

    content_padding == 'lg' ? 'px-4',
    content_padding == 'lg' ? 'px-md-5',

    content_padding == 'xl' ? 'px-5',
    content_padding == 'xxl' ? 'px-5',
  ] %}
  {% embed '@bi-bcl/card/card.html.twig' with {
    card_title: card_title,
    card_text: card_text,
    card_shadow: card_shadow,
    card_icon: card_icon ?? default_icon,
    card_teaser: true,
    card_body_classes: card_body_classes,
    card_classes: ['mb-3']
  } %}
    {% block cardTitle %}
      <h3 class="card-title h5">
        {% if variant == 'icon' %}
          {% include '@bi-bcl/icon/icon.html.twig' with {
            name: card_icon|render|striptags|trim,
            color: default_icon_color
          } %}
        {% endif %}
        {{ card_title }}
      </h3>
    {% endblock %}
  {% endembed %}
{% endapply %}
