{#
/**
 * @file
 * Alert demo.
 *
 * Example:
 *
   {% include '@bi-bcl/alert/alert-demo.html.twig' %}
 */
#}
{% set types = [
  "info", "success", "warning", "danger"
] %}
{% apply spaceless %}

  {% set message = 'You are reading this important message.
    This sample text will be longer so you can see how spacing works within an alert
    with this type of content.' %}

  <h4 class="mt-4">{{ 'Alert demo'|trans }}</h4>
  {% for type in types %}
    {% include '@bi-bcl/alert/alert.html.twig' with {
      heading: 'Heading ' ~ type,
      message: message,
      type: type,
    } %}
  {% endfor %}

{% endapply %}
