{#
/**
 * @file
 * Template for alert component.
 * Docs: https://italia.github.io/bootstrap-italia/docs/componenti/alert/
 * Last review: 2.0.0-rc4
 *
 * Parameters:
 * - heading (string) (default: '')
 *   - Optional heading
 * - message (string) (default: '')
 *   - Alert message
 * - type (string) (default: 'info')
 *   - options ["info", "success", "warning", "danger"]
 * - dismissible (boolean) (default: true)
 *   - Enable dismissible feature
 * - animated_dismiss (boolean) (default: true)
 *   - Enable animation
 * - utility_classes (array) (default: [])
 *
 * Examples:
   {% include '@bi-bcl/alert/alert.html.twig' with {
      message: drupal_field_name,
      type: 'info'
   } %}
 *
 */
#}
{% apply spaceless %}
  {# Set defaults #}
  {% set _heading = heading|default('') %}
  {% set _message = message|default('') %}
  {% set _type = type|default('info') %}
  {% set _dismissible = dismissible ?? true %}
  {% set _animated_dismiss = animated_dismiss ?? true %}

  {# Set options #}
  {% set _classes = [
    'alert',
    _type ? 'alert-' ~ _type,
    _dismissible ? 'alert-dismissible',
    _animated_dismiss ? 'fade',
    _animated_dismiss ? 'show',
  ]|merge(utility_classes ? utility_classes : []) %}

  {# Component #}
  <div class="{{ _classes|join(' ')|trim }}" role="alert">
    {%- if _heading is not empty -%}
      <h4 class="alert-heading">{{ _heading }}</h4>
    {%- endif -%}

    {%- if _message is not empty -%}
      {{- _message -}}
    {%- endif -%}

    {%- if _dismissible -%}
      <button
        aria-label="{{ 'Close alert'|trans }}"
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
      >
        {% include '@bi-bcl/icon/icon.html.twig' with {
          name: 'it-close',
        } %}
      </button>
    {%- endif -%}
  </div>
{% endapply %}
