<!--start card-->
<div class="card-wrapper">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-text">{{ text }}</p>
    </div>
  </div>
</div>
<!--end card-->
