/**
 * Main entry
 * This file will be updated periodically by the maintainers,
 * if you modify it check the version changes before opening an issue.
 *
 * For your custom styles use the 'custom' folder,
 * import your scss using './custom/_custom.scss'.
 */

// Bootstrap Italia version variable.
// Useful to check for the current version.
@import 'bootstrap-italia/src/scss/custom/version';

// Bootstrap Italia: functions.
@import 'bootstrap-italia/src/scss/functions';

// Drupal theme: custom palette.
@import 'custom-comuni/palette';

// Bootstrap Italia: color variables.
@import 'bootstrap-italia/src/scss/utilities/colors_vars';

// Drupal theme: custom variables.
@import 'custom-comuni/variables';

// Import boostrap-italia styles.
@import "bootstrap-italia";

// Override comuni.
@import 'bootstrap-italia/src/scss/override-comuni';

// Your custom styles.
@import "custom-comuni/custom";
