{#
/**
 * @file
 * Template for Modal component.
 * Docs: https://italia.github.io/bootstrap-italia/docs/componenti/modale
 * Latest revision: v2.6.1
 *
 * Available config:
 * - modal_id: string
 * - modal_header: string
 * - modal_close: true | false
 * - modal_body: string
 * - modal_dismiss_txt: string | false
 * - modal_launch_button_type: string,
 * - modal_launch_button_outline: true | false,
 * - modal_launch_button_tag: button | a | input
 * - modal_launch_button_size: xs | sm | lg | false
 *
#}
{% apply spaceless %}
  {% include '@bi-bcl/deprecated.html.twig' with {
    old: 'bootstrap_italia_components/modal/modal.twig',
    new: 'bi-bcl/modal/modal.html.twig',
  } %}

  {# Redirect to new component #}
  {% embed '@bi-bcl/modal/modal.html.twig' with {
    id: modal_id,
    dismissible: modal_close,
  } %}
    {% block modalTitle %}
      {{ modal_header }}
    {% endblock %}

    {% block modalBody %}
      <p>{{ modal_body }}</p>
    {% endblock %}

    {% block modalFooter %}
      {% if modal_dismiss_txt %}
        <button class="btn btn-outline-primary btn-sm" type="button" data-dismiss="modal">{{ modal_dismiss_txt }}</button>
      {% endif %}
    {% endblock %}

    {% block modalButton %}
      {% if _button_label %}
        {% set button_modal_attributes = create_attribute() %}
        {% set button_modal_attributes = button_modal_attributes
          .setAttribute('data-bs-toggle', 'modal')
          .setAttribute('data-bs-target', '#'~_id)
        %}
        {% include '@bi-bcl/button/button.html.twig' with {
          label: modal_launch_button_value|default('Open'|t),
          variant: modal_launch_button_type|default('primary'),
          tag: modal_launch_button_tag|default('button'),
          type: modal_launch_button_input_type|default('button'),
          size: modal_launch_button_size,
          button_attributes: button_modal_attributes
        } %}
      {% endif %}
    {% endblock %}

  {% endembed %}
{% endapply %}
