{#
/**
 * @file
 * Template for Modal component.
 * Docs: https://italia.github.io/bootstrap-italia/docs/componenti/modale
 * Last review: 1.4.1
 *
 * Available config:
 * - modal_id: string
 * - modal_header: string
 * - modal_close: true | false
 * - modal_body: string
 * - modal_dismiss_txt: string | false
 * - modal_launch_button_type: string,
 * - modal_launch_button_outline: true | false,
 * - modal_launch_button_tag: button | a | input
 * - modal_launch_button_size: xs | sm | lg | false
 *
#}
{% include '@bootstrap_italia_components/button/button.twig' with
{
   data_attributes: {
      toggle: 'modal',
      target: '#' ~ modal_id
   },
   type: modal_launch_button_type|default('primary'),
   outline: modal_launch_button_outline,
   tag: modal_launch_button_tag|default('button'),
   value: modal_launch_button_value|default('Apri'),
   input_type: modal_launch_button_input_type|default('button'),
   size: modal_launch_button_size
}
%}
<div class="modal fade" tabindex="-1" role="dialog" id="{{ modal_id }}">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title">{{ modal_header }}
           </h5>
           {% if modal_close %}
           {% include '@bootstrap_italia_components/modal/modal-close-button.twig' %}
           {% endif %}
        </div>
        <div class="modal-body">
           <p>{{ modal_body }}</p>
        </div>
        <div class="modal-footer">
          {% if modal_dismiss_txt %}
          <button class="btn btn-outline-primary btn-sm" type="button" data-dismiss="modal">{{ modal_dismiss_txt }}</button>
          {% endif %}
        </div>
     </div>
  </div>
</div>