.paragraph--full-width {
  width: 99.635vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}

/* Classe parallax, utilizzata dal booleano parallax */
.paragraph--parallax {
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-blend-mode: luminosity;
  background-attachment: fixed;
  padding-top:60px;
  padding-bottom:60px;
}
