{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 * - slim_header_action_dark: Enable dark mode to user logged menu
 * - slim_header_action_icon: Show icon at right of button
 * - slim_header_action_type: Show button type (default, full)
 *
 * @ingroup themeable
 */
#}
{% embed '@bi-bcl/dropdown/dropdown.html.twig' with {
  label: slim_header_action_username ?: 'User'|t,
  tag: 'a',
  id: menu_name,
  variant: 'primary',
  dropdown_dark: slim_header_action_dark,
  assistive_text: 'User actions'|t,
  icon_before: slim_header_action_icon ? 'it-user',
  icon_before_rounded: true,
  icon_color: 'white',
  button_classes: [
    slim_header_action_type == 'full' ? 'btn-full'
  ],
  label_classes: ['d-none', 'd-lg-block'],
} %}
  {% block dropdownContent %}
    <div class="row">
      <div class="col-12">
        {% include '@bi-bcl/list/menu-recursive.html.twig' with {
          menu_name: menu_name,
          items: items,
          attributes: attributes,
          active_items_bold: true,
          wrapper_component: true
        } %}
      </div>
    </div>
  {% endblock %}
{% endembed %}
