{#
/**
 * @file
 * Template for Social component.
 * Docs: https://italia.github.io/bootstrap-italia/docs/menu-di-navigazione/header/#header-centrale
 * Last review: 1.4.1
 *
 * Available config:
 * - socials: array
 */
#}
{% if socials %}
  <div class="it-socials d-none d-md-flex">
    <span>{{ 'Seguici su'|t }}</span>
    <ul>
      {% for social in socials %}
        {% if social.url %}
          <li>
            <a aria-label="{{ social.label }}" href="{{ social.url }}" target="_blank">
              {% include '@bootstrap_italia_components/icon/icon.twig' with { name: 'it-' ~ (social.label|lower) } %}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
