{% macro icon(icon_name,theme_path) %}
  <svg class="icon">
    <use xlink:href="{{ theme_path }}/assets/icons/sprite.svg#{{ icon_name }}"></use>
  </svg>
{% endmacro %}

{% macro password_icon(theme_path) %}
  <span class="password-icon" aria-hidden="true">
    <svg class="password-icon-visible icon icon-sm">
      <use xlink:href="{{ theme_path }}/assets/icons/sprite.svg#it-password-visible"></use>
    </svg>
    <svg class="password-icon-invisible icon icon-sm d-none">
      <use xlink:href="{{ theme_path }}/assets/icons/sprite.svg#it-password-invisible"></use>
    </svg>
  </span>
{% endmacro %}
