{#
/**
 * Default theme implementation for Views to output a splide carousel.
 *
 * Available variables:
 * - options.bi_timeline_settings: View plugin style options:
 *   - today_check_period
 *
 * @see template_preprocess_views_bootstrap_italia_views_timeline()
 *
 * @ingroup themeable
 */
#}
{% embed '@bi-bcl/timeline/timeline.html.twig' with {
  timeline_attributes: attributes
} %}

  {% block timelineItems %}
    {% for item in rows %}
      <div class="col-12">
        {% set time_passed = "now"|date("U") - item['#node'].getCreatedTime() %}

        {% if options.bi_timeline_settings.today_check_period == 'day' %}
          {% set check_period = 86400 %}
        {% elseif options.bi_timeline_settings.today_check_period == 'week' %}
          {% set check_period = 604800 %}
        {% else %}
          {# Default: Month. #}
          {% set check_period = 2592000 %}
        {% endif %}

        {% embed '@bi-bcl/timeline/timeline-item.html.twig' with {
          past_event: time_passed > check_period ? true : false,
          now_event: time_passed < check_period and time_passed > 1 ? true : false,
          pin_text: item['#node'].getCreatedTime()|date("F Y")
        } %}
          {% block timelineItemContent %}
            {{ item }}
          {% endblock %}
        {% endembed %}
      </div>
    {% endfor %}
  {% endblock %}

{% endembed %}
