{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *   - view_link_description: TRUE show link description below items
 *   - sidebar_menu_link_size: TRUE set class 'large' to all items
 *   - sidebar_menu_link_weight: TRUE increase font weight on all items
 *   - icon_position: left | right
 *   - icon_type: it-expand | it-chevron-right
 *   - icon_color:  primary | secondary | success | info | warning | danger | light | white | dark
 *   - sidebar_menu_link_size_active: TRUE set class 'large' only active items
 *   - sidebar_menu_link_weight_active: TRUE increase font weight only active items
 *   - sidebar_menu_background: FALSE | white | light | dark
 */
#}
<div class="sidebar-wrapper it-line-right-side{{ sidebar_menu_background ? ' theme-'~sidebar_menu_background }}">
  <div class="sidebar-linklist-wrapper">
    {% include '@bootstrap_italia_components/link-list/menu-recursive.twig' with {
      menu_name: menu_name,
      items: items,
      attributes: attributes,
      view_link_description: sidebar_menu_link_description,
      large: sidebar_menu_link_size,
      bold: sidebar_menu_link_weight,
      icon_position: sidebar_menu_icon_position,
      icon_type: sidebar_menu_icon_type,
      icon_color: sidebar_menu_icon_color,
      active_items_large: sidebar_menu_link_size_active,
      active_items_bold: sidebar_menu_link_weight_active,
    } %}
  </div>
</div>
