{#
/**
 * @file
 * Template for upload component.
 * Docs: https://italia.github.io/bootstrap-italia/docs/form/upload/
 * Latest revision: v2.6.1
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * Examples:
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
  {# Set defaults #}

  {# Set options #}

  {# Component #}
  <input{{ attributes }}>
  <label for="{{ attributes.id.__toString() }}">
    {% include '@bi-bcl/icon/icon.html.twig' with {
      name: 'it-upload',
      size: 'sm',
    } %}
    <span>{{ 'Upload'|t }}</span>
  </label>
  {{ children }}
{% endapply %}
