{#
/**
 * @file
 * Template for Avatar component with extra text.
 * Docs: https://italia.github.io/bootstrap-italia/docs/componenti/avatar/
 * Last review: 1.4.1
 *
 * Available config:
 * - avatar_tag: div | a
 * - avatar_link: href | false
 * - a_tooltip: hash es: {data-toogle: 'tooltip', data-html: true, data-placement: 'left', title: '<strong>Anna
   Barbieri</strong><br /><em>Amministratore</em>'}
 * - avatar_type: primary | secondary | green | orange | red | false
 * - avatar_size: xs | sm | lg | xl | xxl
 * - avatar_img: link img | false
 * - avatar_icon: hash | false
 * - avatar_txt: string
 * - sr_only_alt: string
 *
#}

<div class="d-flex align-items-start justify-content-start justify-content-md-around flex-wrap flex-sm-nowrap">
  <div class="avatar-wrapper avatar-extra-text">
    <div class="avatar size-lg">
      {{ image }}
    </div>
    <div class="extra-text">
      <h4><a href="#">{{ nome }} {{ cognome }}</a></h4>
      <small>{{ ruolo }}</small>
    </div>
  </div>
</div>
