{#
/**
 * @file
 * Template for Avatar component.
 * Docs: https://italia.github.io/bootstrap-italia/docs/componenti/avatar/
 * Last review: 1.4.1
 *
 * Available config:
 * - avatar_size: xs | sm | lg | xl
 */
#}
{% set classes = [
    'avatar',
    'avatar-primary',
    avatar_size ? 'size-'~avatar_size : 'size-md'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% include '@bootstrap_italia_components/icon/icon.twig' with { name: 'it-user' } %}
  <span class="sr-only">{{ 'User'|t }}</span>
</div>
