{#
/**
 * @file
 * Template for Avatar component.
 * Docs: https://italia.github.io/bootstrap-italia/docs/componenti/avatar/
 * Last review: 1.4.1
 *
 * Available config:
 * - avatar_size: xs | sm | lg | xl
 */
#}

{% import '@bootstrap_italia/macros.twig' as macros %}

{% if avatar_size == 'xs' %}
  {% set icon_size = ['avatar', 'avatar-primary', 'size-xs'] %}
{% elseif avatar_size == 'sm' %}
  {% set icon_size = ['avatar', 'avatar-primary', 'size-sm'] %}
{% elseif avatar_size == 'lg' %}
  {% set icon_size = ['avatar', 'avatar-primary', 'size-lg'] %}
{% elseif avatar_size == 'xl' %}
  {% set icon_size = ['avatar', 'avatar-primary', 'size-xl'] %}
{% else %}
  {% set icon_size = ['avatar', 'avatar-primary', 'size-md'] %}
{% endif %}
<div{{ attributes.addClass(icon_size) }}>
  {{ macros.icon('it-user', base_path ~ directory) }}
  <span class="sr-only">Utente</span>
</div>

