/**
 * Custom bootstrap-italia palette
 * For colors see: node_modules/bootstrap-italia/src/scss/utilities/colors_vars.scss
 *
 * This file is automatically imported into 'theme.scss'.
 */

/*
 GREEN EXAMPLE PRIMARY COLORS DEFINITION
 Tip: use https://rgb.to/ for convert color in HSB
 https://it.wikipedia.org/wiki/Hue_Saturation_Brightness
*/
$primary-h: 160;
$primary-s: 100;
$primary-b: 48;
