{% apply spaceless %}
  {% if avatar_extra_title or avatar_extra_text %}
    <div class="avatar-wrapper avatar-extra-text">
  {% endif %}

  {% if variant == 'image' %}
    {% embed '@bi-bcl/avatar/avatar.html.twig' with {
      avatar_type: variant,
      avatar_icon: false,
      avatar_icon_color: false,
      avatar_image: avatar_image,
      avatar_text: false,
      avatar_text_color: false,
      avatar_assistive_text: avatar_text|render|striptags|trim,
      avatar_size: default_avatar_size,
      avatar_url: avatar_url['node_link']['0']['0']['#context']['entity_url'] ? avatar_url['node_link']['0']['0']['#context']['entity_url']|render : avatar_url|render|striptags|trim,
      avatar_tooltip_text: avatar_tooltip_text,
      avatar_tooltip_placement: avatar_tooltip_placement,
      avatar_presence: avatar_presence|render|striptags|trim,
      avatar_presence_text: avatar_presence_text|render|striptags|trim,
      avatar_status: avatar_status|render|striptags|trim,
      avatar_status_text: avatar_status_text|render|striptags|trim,
    } %}
      {% block avatarContent %}
        {{ avatar_image }}
      {% endblock %}
    {% endembed %}
  {% elseif variant == 'text' %}
    {% set avatar_text = avatar_text ? avatar_text|render|striptags|trim %}
    {% include '@bi-bcl/avatar/avatar.html.twig' with {
      avatar_type: variant,
      avatar_icon: false,
      avatar_icon_color: false,
      avatar_image: false,
      avatar_text: avatar_text,
      avatar_text_color: default_background_color,
      avatar_assistive_text: avatar_text|render|striptags|trim,
      avatar_size: default_avatar_size,
      avatar_url: avatar_url['node_link']['0']['0']['#context']['entity_url'] ? avatar_url['node_link']['0']['0']['#context']['entity_url']|render : avatar_url|render|striptags|trim,
      avatar_tooltip_text: avatar_tooltip_text,
      avatar_tooltip_placement: avatar_tooltip_placement,
      avatar_presence: avatar_presence|render|striptags|trim,
      avatar_presence_text: avatar_presence_text|render|striptags|trim,
      avatar_status: avatar_status|render|striptags|trim,
      avatar_status_text: avatar_status_text|render|striptags|trim,
    } %}
  {% elseif variant == 'icon' %}
    {% include '@bi-bcl/avatar/avatar.html.twig' with {
      avatar_type: variant,
      avatar_icon: default_icon,
      avatar_icon_color: default_icon_color,
      avatar_image: false,
      avatar_text: false,
      avatar_text_color: default_background_color,
      avatar_assistive_text: avatar_text|render|striptags|trim,
      avatar_size: default_avatar_size,
      avatar_url: avatar_url['node_link']['0']['0']['#context']['entity_url'] ? avatar_url['node_link']['0']['0']['#context']['entity_url']|render : avatar_url|render|striptags|trim,
      avatar_tooltip_text: avatar_tooltip_text,
      avatar_tooltip_placement: avatar_tooltip_placement,
      avatar_presence: avatar_presence|render|striptags|trim,
      avatar_presence_text: avatar_presence_text|render|striptags|trim,
      avatar_status: avatar_status|render|striptags|trim,
      avatar_status_text: avatar_status_text|render|striptags|trim,
    } %}
  {% endif %}

  {% if avatar_extra_title or avatar_extra_text %}
      <div class="extra-text">
        {% if avatar_extra_title %}
          <h3>{{ avatar_extra_title }}</h3>
        {% endif %}
        {{ avatar_extra_text }}
      </div>
    </div>
  {% endif %}
{% endapply %}
