{% include '@bi-bcl/deprecated.html.twig' with {
  old: 'bootstrap_italia_components/icon/password_icon.twig',
  new: 'bi-bcl/form/input--password.html.twig',
} %}

<span class="password-icon" aria-hidden="true">
  {% include '@bootstrap_italia_components/icon/icon.twig' with {
    name: 'it-password-visible',
    classes: ['password-icon-visible'],
    size: 'sm',
  } %}
  {% include '@bootstrap_italia_components/icon/icon.twig' with {
    name: 'it-password-invisible',
    classes: ['password-icon-invisible','d-none'],
    size: 'sm',
  } %}
</span>
