<span class="password-icon" aria-hidden="true">
  {% include '@bootstrap_italia_components/icon/icon.twig' with {
    name: 'it-password-visible',
    classes: ['password-icon-visible'],
    size: 'sm',
  } %}
  {% include '@bootstrap_italia_components/icon/icon.twig' with {
    name: 'it-password-invisible',
    classes: ['password-icon-invisible','d-none'],
    size: 'sm',
  } %}
</span>
