{%
  set it_center_header_wrapper_classes = [
  'it-header-center-wrapper',
  center_header_light ? ' theme-light',
  center_header_small ? ' it-small-header'
]
%}
<div class="{{ it_center_header_wrapper_classes|join }}">
  <div class="{{ center_header_container_type ?: 'container' }}">
    <div class="row">
      <div class="col-12">
        <div class="it-header-center-content-wrapper">

          {% block headerCenterBrand %}
            {% if page.brand %}
              {{ page.brand }}
            {% endif %}
          {% endblock %}

          <div class="it-right-zone">
            {% if socials %}
              {% include '@bi-bcl/share/follow-us.html.twig' with {
                socials: socials,
                label: 'Follow us on'|trans,
                blank: social_new_window,
                followus_classes: ["it-socials", "d-none", "d-md-flex"]
              } %}
            {% endif %}
            {% if page.header_center_social and not socials %}
              {{ page.header_center_social }}
            {% endif %}

            <div class="it-search-wrapper">
              <span class="d-none d-md-block">Cerca</span>
              <a class="search-link rounded-icon" aria-label="Cerca nel sito" href="#">
                {% include '@bi-bcl/icon/icon.html.twig' with {
                  name: 'it-search',
                } %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
