{% block header %}
  <div class="it-header-wrapper mb-5">
    {% include '@bootstrap_italia/layout/header/_partial.header-slim.html.twig' %}
    <div class="it-nav-wrapper">
      {% include '@bootstrap_italia/layout/header/_partial.header-center.html.twig' %}
      {% include '@bootstrap_italia/layout/header/_partial.header-navbar.html.twig' %}
    </div>
  </div>
{% endblock %}
