<div class="it-header-navbar-wrapper">
  <div class="{{ navigation_container_type ? navigation_container_type : 'container' }}">
    <div class="row">
      <div class="col-12">
        {% if page.header_nav %}
          {{ page.header_nav }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
