{% block header %}
  <div class="it-header-wrapper{{ header_sticky ? ' it-header-sticky' }}">
    {% include '@bootstrap_italia/layout/header/_partial.header-slim.html.twig' %}
    <div class="it-nav-wrapper">
      {% include '@bootstrap_italia/layout/header/_partial.header-center.html.twig' %}
      {% include '@bootstrap_italia/layout/header/_partial.header-navbar.html.twig' %}
    </div>
  </div>
{% endblock %}
