{% apply spaceless %}
  {% set it_header_wrapper_attributes = create_attribute() %}
  {% set it_header_wrapper_attributes =
    it_header_wrapper_attributes.addClass([
      'it-header-wrapper',
      'd-print-none',
      header_shadow ? 'shadow'
    ])
  %}

  {% if navigation_header_sticky %}
    {% set it_header_wrapper_attributes = it_header_wrapper_attributes
      .addClass('it-header-sticky')
      .setAttribute('data-bs-toggle', 'sticky')
      .setAttribute('data-bs-position-type', 'fixed')
      .setAttribute('data-bs-sticky-class-name', 'is-sticky')
      .setAttribute('data-bs-target', '#header-nav-wrapper')
    %}
  {% endif %}

  <header{{ it_header_wrapper_attributes }}>

    {% block headerSlim %}
      {% include '@bootstrap_italia/layout/header/_partial.header-slim.html.twig' %}
    {% endblock %}

    <div class="it-nav-wrapper">
      {% block headerCenter %}
        {% include '@bootstrap_italia/layout/header/_partial.header-center.html.twig' %}
      {% endblock %}

      {% block headerNavbar %}
        {% include '@bootstrap_italia/layout/header/_partial.header-navbar.html.twig' %}
      {% endblock %}
    </div>
  </header>
{% endapply %}
