<div class="it-header-navbar-wrapper" id="header-nav-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!--start nav-->
        <nav class="navbar navbar-expand-lg has-megamenu" aria-label="Navigazione principale">
          <button class="custom-navbar-toggler" type="button" aria-controls="nav4" aria-expanded="false" aria-label="Mostra/Nascondi la navigazione" data-bs-target="#nav4" data-bs-toggle="navbarcollapsible">
            {% include '@bi-bcl/icon/icon.html.twig' with {
              name: 'it-burger'
            } %}
          </button>
          <div class="navbar-collapsable" id="nav4" style="display: none;">
            <div class="overlay" style="display: none;"></div>
            <div class="close-div">
              <button class="btn close-menu" type="button">
                <span class="visually-hidden">Nascondi la navigazione</span>
                <svg class="icon">
                  <use href="/dist/svg/sprites.svg#it-close-big"></use>
                </svg>
              </button>
            </div>
            <div class="menu-wrapper">
              <ul class="navbar-nav">
                <li class="nav-item ">
                  <a class="nav-link " href="/docs/esempi/comuni/template-amministrazione/">
                    <span>Amministrazione</span>

                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link " href="/docs/esempi/comuni/template-novita/">
                    <span>Novità</span>

                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link " href="/docs/esempi/comuni/template-servizi/">
                    <span>Servizi</span>

                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link " href="/docs/esempi/comuni/template-documenti/">
                    <span>Documenti e Dati</span>

                  </a>
                </li>
              </ul>
              <ul class="navbar-nav navbar-secondary">
                <li class="nav-item">
                  <a class="nav-link" href="/docs/esempi/comuni/template-argomenti-argomento/"> Argomento 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Argomento 2</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link " href="/docs/esempi/comuni/template-argomenti">
                    <span class="fw-bold">Tutti gli argomenti...</span>

                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
