{%
  set wrapper_classes = [
    header_center_light ? ' theme-light',
    header_center_small ? ' it-small-header'
  ]
%}

<div class="it-header-center-wrapper{{ wrapper_classes|join }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-center-content-wrapper">
          {% if page.brand %}
            <div class="it-brand-wrapper">
              {{ page.brand }}
            </div>
          {% endif %}
          {% include '@bootstrap_italia/layout/header/_partial.header-center-right-zone.html.twig' %}
        </div>
      </div>
    </div>
  </div>
</div>
