<div class="it-header-center-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-center-content-wrapper">
          <div class="it-brand-wrapper">
            <a href="/docs/esempi/comuni/template-homepage/">
              {% include '@bi-bcl/icon/icon.html.twig' with {
                name: 'it-pa'
              } %}
              <div class="it-brand-text">
                <div class="it-brand-title">Nome del Comune</div>
                <div class="it-brand-tagline d-none d-md-block">Uno dei tanti Comuni d'Italia</div>
              </div>
            </a>
          </div>
          <div class="it-right-zone">
            <div class="it-socials d-none d-md-flex">
              <span>Seguici su</span>
              <ul>
                <li>
                  <a href="#" aria-label="Facebook" target="_blank">
                    {% include '@bi-bcl/icon/icon.html.twig' with {
                      name: 'it-facebook'
                    } %}
                  </a>
                </li>
                <li>
                  <a href="#" aria-label="Github" target="_blank">
                    {% include '@bi-bcl/icon/icon.html.twig' with {
                      name: 'it-github'
                    } %}
                  </a>
                </li>
                <li>
                  <a href="#" aria-label="Twitter" target="_blank">
                    {% include '@bi-bcl/icon/icon.html.twig' with {
                      name: 'it-twitter',
                    } %}
                  </a>
                </li>
              </ul>
            </div>
            <div class="it-search-wrapper">
              <span class="d-none d-md-block">Cerca</span>
              <a class="search-link rounded-icon" aria-label="Cerca nel sito" href="#">
                {% include '@bi-bcl/icon/icon.html.twig' with {
                  name: 'it-search',
                } %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
